body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li.dropdown {
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    top: 50px;
    left: 0;
}
.show{
    display: block;
}
.dropdown-content a{
    display: block;
    padding: 10px;
    color: blanchedalmond;
    text-decoration: none;
}

/* nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

nav ul li.dropdown:hover .dropdown-content, .dropdown-content.show {
    display: block;
} */

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}